[submodule "submodules/EstimoteSDK"]
	path = submodules/EstimoteSDK
	url = git@github.com:Estimote/iOS-SDK.git
[submodule "submodules/UIAlertView-Blocks"]
	path = submodules/UIAlertView-Blocks
	url = git@github.com:jivadevoe/UIAlertView-Blocks.git
[submodule "submodules/AFNetworking"]
	path = submodules/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
